@font-face {
  font-family: amazon-italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2);
  font-family: amazon-bold;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2);
  font-family: amazon-normal;
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* The default font size of the browser is 16px, so if we want 1rem to be equal to 10px, we divide 10px by 16px = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 70%;
  }
}
body {
  line-height: 1.6;
  font-family: amazon-normal;
  color: rgb(15, 17, 17);
}

.desktop-menu {
  display: none;
}
/* mobile menu */
.mobile-menu {
  background-color: rgb(35, 47, 62);
  width: 100vw;
  height: 17vh;
  padding: 1.5rem;
}
.menu-items {
  display: flex;
  justify-content: space-between;
}
.line-1 {
  background: url("assets/sprite.png") no-repeat -40px -756px;
  width: 40px;
  height: 4px;

  padding-top: 1rem;
}
.line-2 {
  background: url("assets/sprite.png") no-repeat -40px -772px;
  width: 40px;
  height: 4px;
  padding-top: 1rem;
}
.line-3 {
  background: url("assets/sprite.png") no-repeat -40px -788px;
  width: 40px;
  height: 4px;
  padding-top: 1rem;
}
.logo {
  background: url("assets/sprite.png") no-repeat -21px -828px;
  width: 130px;
  height: 50px;
}
.left-menu {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.sign-in {
  background: url("assets/sprite.png") no-repeat -284px -606px;
  width: 47px;
  height: 48px;
}

.shopping-cart {
  background: url("assets/sprite.png") no-repeat -22px -482px;
  width: 70px;
  height: 50px;
}
.right-menu {
  display: flex;
  width: 40vw;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input {
  width: 70vw;
  height: 6vh;
  border-radius: 9px;
  /* position: relative; */
}
.search-bar button {
  background: url("assets/sprite.png") no-repeat -22px -342px;
  width: 30px;
  height: 30px;
  border: transparent;
}
.search-button {
  background-color: #fcbb6a;
  width: 12vw;
  height: 5vh;
  border-radius: 9px;
}
.secondary-menu {
  display: none;
}
.delivery {
  background-color: rgb(55, 71, 90);
  width: 100vw;
  height: 7vh;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.delivery > * {
  margin-left: 1rem;
}
.delivery-map {
  background: url("./assets/sprtie5.png") no-repeat -71px -340px;
  width: 17px;
  height: 21px;
  position: absolute;
}
.delivery-israel {
  display: none;
  position: relative;
}

/* main */
main {
  margin: 1rem;
}
.store-link a,
.desktop-ratings {
  color: rgb(0, 113, 133);
  text-decoration: none;
}
.store-link a,
.ratings span,
.product-desc,
.desktop-ratings {
  font-size: 13px;
}
.ratings img {
  width: 20vw;
}
.product-title,
.product-desc {
  display: flex;
  justify-content: space-between;
}
.badge {
  font-size: 13px;
}
.badge .primary-left {
  background-color: rgb(35, 47, 62);
  color: #fff;
  padding: 0.3rem;
}
.badge .primary-right {
  background-color: rgb(35, 47, 62);
  color: rgb(246, 153, 49);
  padding: 0.3rem;
}
.badge .secondary {
  font-size: 12px;
}
.showcase-img img {
  max-width: 100%;
  margin-top: 1rem;
}

.images-scroll {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 360px;
  background-color: #fff;
}

.images-scroll .img-view::before {
  content: "\2022";
  color: rgb(0, 113, 133);
  font-weight: bold;
  display: inline-block;
  height: 9px;
  line-height: 16px;
  font-size: 24px;
  margin-left: 1rem;
}
.colors-title {
  line-height: 3.5rem;
}
.colors-title .color {
  font-size: 15px;
  color: rgb(15, 17, 17);
}
.colors-title .color-name {
  font-size: 15px;
  font-weight: 900;
}
.color-img img {
  max-width: 80%;
  border: 1px solid black;
  border-radius: 50%;
  height: 90%;
}
.colors-gallery {
  display: flex;
  justify-content: space-around;
}
.color-price {
  margin-left: 1.5rem;
}
.size-guide {
  color: rgb(0, 113, 133);
  font-size: 15px;
}
.primary-price {
  color: rgb(15, 17, 17);
  font-size: 38px;
}
.secondary-price {
  color: rgb(15, 17, 17);
  font-size: 15px;
  position: relative;
  top: -15px;
}
.import-details {
  color: rgb(86, 89, 89);
  font-size: 15px;
}
.shipping-details,
.see-more {
  color: rgb(0, 113, 133);
  font-size: 15px;
}
.delivery-section {
  font-size: 15px;
  line-height: 2rem;
}
.stock-title {
  color: rgb(0, 118, 0);
  font-size: 18px;
}
.stock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.stock > * {
  margin-left: 5px;
}
.stock,
.about {
  font-size: 15px;
}
.stock-btn {
  font-size: 13px;
  padding: 0.5rem;
  background-color: #f0f2f2;
  font-family: amazon-normal;
  border-radius: 10px;
  border: 0.5px solid rgba(204, 201, 201, 0.836);
}
.drop-down-btn {
  background: url("./assets/sprite2.png") no-repeat -732px -176px;
  width: 14px;
  height: 8px;
}

.add-cart-btn,
.buy-now-btn {
  height: 6vh;
  border-radius: 15px;
  margin-top: 1rem;
  border: none;
  align-self: center;
}
.buy-now-btn {
  background-color: #ffa41c;
}
.add-cart-btn {
  background-color: #ffd814;
}
.ships-sold-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.ships-sold-grid {
  font-size: 13px;
}
.loritta {
  color: rgb(0, 113, 133);
}
.sizes {
  display: flex;
  justify-content: space-between;
}

.about-list {
  list-style: disc;
  margin-left: 20px;
  padding-left: 0;
}
.see-more {
  display: flex;
  align-items: center;
}
.explore,
.frequently-bought,
.might-like,
.from-brand > span {
  color: rgb(34, 47, 63);
  font-size: 18px;
  font-weight: 700;
}
.explore-gallery {
  display: grid;
  grid-template-columns: repeat(9, 2fr);
  width: 100vw;
  gap: 1rem;
}
.explore-img img {
  width: 42vw;
}
.plus {
  font-size: 18px;
  color: rgb(86, 89, 89);
}
.frequently-bought-images {
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 1rem;
  border: 1px solid rgba(202, 200, 200, 0.818);
  border-radius: 10px;
}
.frequently-bought-images .buy-both {
  font-size: 18px;
}
.buy-both {
  padding-right: 5rem;
  padding-left: 7rem;
}
.sponsored {
  font-size: 11px;
  font-weight: 100;
  color: rgb(85, 85, 85);
}
.might-like-img img {
  width: 100%;
}
.might-like {
  line-height: 1.8rem;
}
.might-like-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.might-like-info {
  text-align: center;
}
.might-like-title {
  font-size: 15px;
  font-weight: 700;
}
.might-like-desc {
  font-size: 15px;
  font-weight: normal;
}
.might-like-stars img {
  width: 40%;
}
.might-like-ratings {
  font-size: 11px;
  font-weight: normal;
  color: rgb(86, 89, 89);
}
.might-like-info .secondary-price {
  font-size: 13px;
  font-weight: normal;
}
.might-like-info .primary-price {
  font-size: 22px;
  font-weight: normal;
  top: -1rem;
  position: relative;
}
.prime {
  background: url("./assets/sprite3.png") no-repeat -276px -146px;
  width: 84px;
  height: 24px;
  transform: scale(0.4) translateX(20px) translateY(-70px);
}
.might-like-info {
  display: flex;
  justify-content: flex-start;
}
.might-like-item {
  width: 35%;
}
.might-like-price {
  line-height: 4rem;
}
.empty {
  height: 4vh;
}
.fixed-img {
  background-color: #666666;
  color: white;
  font-size: 15px;
  height: 7vh;
  padding: 0.5rem;
  text-align: left;
}
.fixed-img:after {
  content: "Cute animal fluffy socks";
  color: black;
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid red;
  height: 20vh;
  width: 20vw;
  z-index: 3;
}
.brand-gallery {
  z-index: 1;
  height: 5vh;
}
@media screen and (min-width: 600px) {
  .mobile-menu,
  .delivery {
    display: none;
  }
  * {
    font-size: large;
  }
  .desktop-menu {
    display: block;
    background-color: rgb(19, 25, 33);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desktop-logo-container {
    border: 1px solid transparent;
    padding: 1rem;
  }
  .desktop-logo {
    background: url("assets/sprite.png") no-repeat -21px -828px;
    transform: translateY(1rem);
    width: 130px;
    height: 50px;
  }
  .desktop-logo-container:hover {
    cursor: pointer;
    border-radius: 2px;
    border-color: #fff;
  }
  .desktop-searchbar {
    display: flex;
  }

  .magnifying-glass {
    background: url("./assets/sprtie5.png") no-repeat -10px -290px;
    width: 21px;
    height: 21px;
  }
  .search-button {
    width: 2vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-searchbar input {
    width: 65vw;
    height: 3vh;
  }
  .desktop-returns-orders {
    color: white;
  }
  .flag img {
    width: 1vw;
  }
  .language {
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  .desktop-signin {
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
  .desktop-cart {
    color: white;
    display: flex;
  }
  .secondary-menu {
    display: block;
    background-color: rgb(35, 47, 62);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 1.8rem;
  }
  .all-logo {
    background: url("./assets/sprtie5.png") no-repeat -172px -255px;
    width: 18px;
    height: 14px;
  }
  .all {
    display: flex;
  }
  .left-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
  }
  .hamburger {
    display: none;
  }
  .delivery-israel {
    display: flex;
    width: 4vw;
    position: relative;
  }
  .deliver-to {
    color: rgb(204, 204, 204);
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    left: 3rem;
    bottom: 1rem;
  }
  .israel {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    position: absolute;
    left: 3rem;
  }
  .mobile-main {
    display: none;
  }
  .desktop-main {
    margin: 0 60rem;
  }
  .back-to-results {
    color: rgb(86, 89, 89);
    font-size: 12px;
    padding: 1rem;
  }
  .back-to-results span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .desktop-main-four-cols {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
  }
  .desktop-main-col-one {
    display: flex;
    flex-direction: column;
  }
  .img-box img {
    width: 70%;
    border: 1px solid black;
  }
  .desktop-main-col-two {
    display: flex;
    flex-direction: column;
  }
  .large-img-box img {
    width: 100%;
  }
  .large-img-box {
    width: 20vw;
  }
  .desktop-stars {
    background: url("./assets/sprite6.png") no-repeat -2px -42px;
    width: 80px;
    height: 15px;
  }
  .desktop-ratings {
    display: flex;
  }
  .amazons-choice {
    display: flex;
  }
  .desktop-colors-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .desktop-color-img img {
    object-fit: cover;
    width: 3vw;
    height: 6vh;
    border: 1px solid black;
    border-radius: 10px;
  }
  aside {
    width: 10vw;
  }
  .side-card {
    padding: 18px 14px;
    border: 1px solid black;
  }
  .add-cart-btn,
  .buy-now-btn {
    width: 80%;
  }
  .desktop-buy-it-with-section {
    margin-top: 5rem;
  }
  .desktop-buy-it-with-section h2,
  .desktop-from-the-brand-section h2 {
    margin-bottom: 3rem;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }
  .plus {
    font-size: 22px;
  }
  .but-it-with-images {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  .info-icon {
    background: url("./assets/sprite6.png") no-repeat -258px -354px;
    width: 18px;
    height: 18px;
  }
  .background-img {
    background: url(./assets/brand-background.jpg) no-repeat center center/cover;
    height: 50vh;
    position: relative;
  }
  .dark-background-title span {
    color: white;
    background-color: rgba(0, 0, 0, 0.605);
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    top: 45vh;
    width: 15vw;
    position: absolute;
  }
  .socks-grid span {
    color: black;
  }
  .socks-grid {
    position: relative;
  }
  .socks-grid-one {
    top: 1vh;
    left: 18vw;
    width: 20vw;
    position: absolute;
  }
  .socks-grid-two {
    top: 1vh;
    left: 40vw;
    width: 20vw;
    position: absolute;
  }
}
